.col-md-12
  h1 Results
  
  .row
    .col-md-4.location
      h2 Ottawa, Canada
      h3 Productivity factor
      span.productivity 86%
      h3 Happiness
      span.happiness 90%
      h3 It will cost you (in total)
      span.price $5,201
      p This place will be the best for your meeting. It matches preferencies of your team the best. Also taking into account the jetlag, your budget &amp; the location of your subsidiaries.
      a(href="#" class="btn") Order flights
    .col-md-4.location
      h2 Ottawa, Canada
      h3 Productivity factor
      span.productivity 86%
      h3 Happiness
      span.happiness 90%
      h3 It will cost you (in total)
      span.price $5,201
      p This place will be the best for your meeting. It matches preferencies of your team the best. Also taking into account the jetlag, your budget &amp; the location of your subsidiaries.
      a(href="#" class="btn") Order flights
    .col-md-4.location
      h2 Ottawa, Canada
      h3 Productivity factor
      span.productivity 86%
      h3 Happiness
      span.happiness 90%
      h3 It will cost you (in total)
      span.price $5,201
      p This place will be the best for your meeting. It matches preferencies of your team the best. Also taking into account the jetlag, your budget &amp; the location of your subsidiaries.
      a(href="#" class="btn") Order flights
      
