// *******************************
// ========== PARTIALS ===========
// *******************************

@import "grid";

// *******************************
// ========== VARIABLES ==========
// *******************************

$purple: #525DF9;
$light-purple: #858DFA;

// *******************************
// ========== REST ==========
// *******************************

body {
  font-family: 'Sofia Pro', 'Helvetica Neue', 'Verdana', sans-serif;
}

header {
  background-color: #525df9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo,
.cta {
  color: #FFF;
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
  color: #FFF;
}

.btn {
  color: #FFF;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  background-color: #858DFA;
  transition: all .3s ease-out;

  &:hover {
    color: #525df9;
    text-decoration: none;
    background-color: #FFF;
  }
}

.centered {
  float: none;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.float-right {
  // float: right;
}

main {
  padding-top: 70px;

  h1 {

  }

  .btn {
    width: 150px;
    text-align: center;
    display: block;
    margin: 0 auto;

    &:hover {
      background-color: #525df9;
      color: #FFF;
    }
  }

  form {
    margin-bottom: 40px;

    label {
      display: block;
    }

    input {
      display: inline-block;
      width: 100%;
      margin-bottom: 25px;
      border: 2px solid #d7d7d7;
      border-radius: 4px;
      padding: 10px 20px 10px 20px;
      margin-top: 10px;
    }

    input[type=checkbox] {
      display: inline;
      padding: 20px;
      width: 30px;
    }

    input[type=submit] {
      background: $light-purple;
      color: #FFF;
      border: 0;
      padding-top: 15px;
      padding-bottom: 16px;
      transition: all .3s ease-out;

      &:hover {
        background: $purple;
        box-shadow: 0px 10px 40px rgba(0,0,0, .15);
      }
    }
  }

  .location {
    background: #FFF;
    display: block;
    padding: 20px 40px;
    border-radius: 4px;
    transition: all .3s ease-out;
    box-shadow: 0px 10px 40px rgba(0,0,0, .15);
    position: relative;

    &:hover {
      box-shadow: 0px 0px 0px rgba(0,0,0, .15);
      // z-index: 999;
    }

    h3 {
      margin-bottom: 0;
    }

    span {
      font-size: 60px;
      font-weight: 300;

      &.price {
        color: #4BCA81;
      }

      &.happiness {
        color: #FFB75D;
      }

      &.productivity {
        color: #4496F2;
      }
    }

    p {
      margin-bottom:30px;
    }
  }

}

footer {
  margin-top: 30px;
  margin-bottom: 40px;
}
